@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-[#f4f4f4]
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  li{
    @apply cursor-pointer
  }

  button{
    @apply shadow-xl 
  }
}

.details-button {
  background-color: #556347;
  color: wheat;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  width: max-content;
}

.details-button:hover {
  background-color: #606042;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-left: 2rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 2;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #dee2e6;
}